/* folhas de estilos site */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: darkorange;
    color: wheat;
}
.imagem{
    width: 1024px;
    height: auto;
    display: block;
    margin: auto;
}
body > nav {
    display: flex;
    justify-content: center;
}
body > nav > a{
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
    color: steelblue;
}
body > nav > a:hover {
    color: pink;
    background: black;
}